# Configuración de MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=""
DB_NAME=punto_venta
DB_PORT=3306

# Configuración del servidor
PORT=3001
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:5173
